/* ==================================================

   MENU

================================================== */



.nav-bar{
    margin-bottom: 20px;
}


/* ==================================================
   IMAGEM LATERAL
================================================== */

.imagem-eventos {
    position: absolute;

    top: 0;
    right: 10%;

    width: 350px;
    height: 100%;

    z-index: 5;
}

.imagem-eventos img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.eventos-conteudo {
    position: relative;
}

/* ==================================================
   APRESENTAÇÃO
================================================== */

.eventos-apresentacao {
    margin-top: -20px;

    background: #00000017;

    border-radius: 35px 35px 0 0;

    padding: 30px 0 50px;

    position: relative;
    z-index: 2;
}

/* deixa espaço para a imagem */
.eventos-apresentacao .container-topo {
    padding-right: 300px;
}   
.eventos-apresentacao .container {
    padding-right: 100px;
}

/* ==================================================
   CONTAINER
================================================== */



.eventos-apresentacao .container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min(90%, var(--largura-container));
    margin: 0 auto;

}

/* ==================================================
   TIPOS DE EVENTOS
================================================== */

.tipos-eventos {
    background: #f0f3f5;

    position: relative;
    z-index: 2;
}

.tipos-eventos .container {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 25%;
    box-sizing: border-box;
}   



/* ==================================================
   TÍTULO
================================================== */

.eventos-apresentacao .container-topo {

    width: 100%;
    padding-top: 20px;
}


.eventos-apresentacao .container-topo h2 {

    width: 100%;
    color: #4f9ca3;
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: 800;
    text-align: left;
    margin: 0;
}

/* ==================================================
   TEXTO + IMAGEM
================================================== */

.eventos-apresentacao .container-baixo {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
}

/* ==================================================
   TEXTO
================================================== */

.eventos-apresentacao .texto {

    position: relative;
    flex: 1;
    font-size: 0.9em;
    line-height: 1.7;
    text-align: justify;
    padding-right: 350px;
}

.eventos-apresentacao .texto p {
    margin: 0 0 10px;
}

/* ==================================================
   IMAGEM
================================================== */

.drone-eventos {

    flex: 1;
    display: flex;
    position: absolute;
    right: 10%;
    justify-content: right;

}

.drone-eventos img {

    width: 100%;
    max-width: 550px;
    height: auto;
    display: block;
    border-radius: 8px;

}

/* ==================================================
   TIPOS DE EVENTOS
================================================== */

.tipos-eventos {

    background-color: rgb(245,245,245);
    padding: 50px 0;

}

.texto-link-orçamento p {
    width: 100%;
    padding-left: 10px;
    color: #4f9ca3;
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: 800;
    text-align: left;
    margin: 0;
}

.texto-link-orçamento a {
    color: rgb(12, 73, 153);
    font-weight: bold;
    text-decoration: none;
    font-weight: 900;
    font-size: 1em;
    display: inline-block;
    transition: transform 0.3s ease;
    padding-left: 10px;
}

.texto-link-orçamento a:hover {
    transform: translateX(12px) scale(1.05);
}

.tipos-eventos .container {

    width: min(90%, var(--largura-container));
    margin: 0 auto;

}

.servicos-eventos .container{

    gap: 200px;

}
.tipos-eventos h2 {
    padding-bottom: 20px;
    color: #4f9ca3;
    font-size: 1.5em;
    line-height: 25px;
    font-weight: 800;
    letter-spacing: 1.8px;
}

.tipos-eventos-texto {
    max-width: 900px;
    font-size: 0.9em;

}

.tipos-eventos h3 {

    padding-bottom: 4px;
    color: #4f9ca3;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.tipos-eventos p {
    padding-bottom: 15px;
    line-height: 1.6;

}

/* ==================================================
   SERVIÇOS + CTA
================================================== */

.servicos-eventos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


/* ==================================================
   LADO ESQUERDO
================================================== */

.servicos-esquerda {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
}

.servicos-conteudo {
    width: min(100%, 450px);
    padding-left: 100px;
}

.servicos-conteudo h2 {
    color: #4f9ca3;
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
}

.servicos-conteudo p {
    margin: 0 0 12px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgb(77, 77, 77);
}


/* ==================================================
   LADO DIREITO
================================================== */

.servicos-direita {
    border-radius: 100px 0 0 100px;
    background-color: #19384a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
}

.cta-conteudo {
    width: min(100%, 450px);
}

.cta-conteudo h2 {
    color: rgb(194, 194, 194);
    font-size: 2.1rem;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 30px;
}

.cta-conteudo a {
    display: inline-block;
    color: rgb(192, 172, 59);
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    transition: transform 0.3s ease;
}

.cta-conteudo a:hover {
    transform: translateX(12px) scale(1.05);
}
    .tipos-eventos-container{
    padding-right: 20%;

    }

    .tipos-eventos h2 {
        font-size: 1.35rem;
        line-height: 1.4;
        letter-spacing: .5px;
    }

    .tipos-eventos h3 {
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: .5px;
    }

    .tipos-eventos p {
        line-height: 1.6;
        text-align: left;
        text-align: justify;
        hyphens: auto;
    }

    /* ==================================================
       SERVIÇOS
    ================================================== */

    .tipos-eventos .container{
    padding-right: 40%;
    box-sizing: border-box;
    }

    .servicos-eventos {
        padding: 40px 0;
    }


     .servicos-eventos p {
        line-height: 1.6;
    }

/* ==================================================
   RESPONSIVO
================================================== */

@media (max-width: 868px) {

.nav-bar{
    margin-bottom: 15px;
}


    /* ==================================================
       APRESENTAÇÃO
    ================================================== */

.imagem-eventos {
    position: absolute;
    max-width:40%;
    top: 0;
    right: 0;
    height: auto;
    z-index: 5;
}

.imagem-eventos img {

    padding-top: 0;
    object-fit: cover;
    display: block;
}   

    .eventos-apresentacao {
        padding-top: 160px;
        margin-top: -15px;
        padding: 25px 0 35px;
        border-radius: 25px 25px 0 0;
    }

    .eventos-apresentacao .container {

        width: 88%;
        align-items: stretch;
    }

    .eventos-apresentacao .container-topo {
        padding-right: 0px;
        max-width: 70%;
        padding-top: 5px;
    }

    .eventos-apresentacao .container-topo h2 {
    
        font-size: 1.35rem;
        line-height: 1.4;
    }

    .eventos-apresentacao .container-baixo {
        max-width: 65%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 15px;

    }

    .eventos-apresentacao .texto {

        width: 100%;
        padding: 0;
        font-size: 1.0rem;
        line-height: 1.6;
        text-align: left;
        text-align: justify;
        hyphens: auto;       
    }

    .drone-eventos {

        position: relative;
        right: auto;
        width: 100%;
        display: block;
    }

    .drone-eventos img {

        width: 100%;
        max-width: 100%;
    }

    .servicos-conteudo{
    padding-left: 0px;    
 }

    .servicos-esquerda {
    padding-left: 20px;    
 }

    .servicos-esquerda h2{
    font-size: 1.4rem
    }

    .servicos-esquerda p{
    font-size: 1.1rem;
    line-height: 1.2;
    }

    /* ==================================================
       TIPOS DE EVENTOS
    ================================================== */

    .tipos-eventos {
        padding: 40px 0;
    }

    .tipos-eventos .container{
    padding-right: 40%;
    box-sizing: border-box;
    }

    .tipos-eventos-texto h3{
    font-size: 1.15rem;
    }

    .tipos-eventos-texto p{
    font-size: 1rem;
    }

    }



